@charset "UTF-8";


form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 60px;
    margin: 30px 0px 30px 0px;
}

input{
    height: 100%;
    width: 60px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}
input:focus{
    outline: none;
    box-shadow: 0 0 10px white;
}

button{
    margin-top: 0px;
    height: 100%;
}


.tip span{
    color: #ecfa00;
}

.wordContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 20px solid #ecfa00;
    margin: 20px 0px 20px 0px;
}

.letter, .blankSquare{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    border: 4px solid black;
    background-color: white;
    color: black;
    font-weight: bold;
    height: 100px;
    width: 100px;
    margin: 0px;
    text-transform: uppercase;
}

.letterContainer p{
    font-size: 30px;
}


.game h3 span{
    color: #ecfa00;
    font-size: 30px;
}

.letterContainer form button{
    height: 100%;
}