@charset "UTF-8";

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

input{
    height: 30px;
    width: 40vw;
}

button{
    margin-top: 20px;
}