*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --color01: #1646a0
}

html, body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(
        to bottom, 
        darkblue, 
        #181818,
        #181818 
 
    );
}

h1{
    font-size: 70px;
    color: white;
    margin: 20px;
    letter-spacing: 3px;
}

h3{
    font-size: 30px;
    color: white;
}

span{
    font-size: 20px;
    color: white;
}

p{
    font-size: 20px;
    color: white;
}

button {
    height: 50px;
    padding: 0px 30px 0px 30px;
    border: none;
    border-radius: 8px;
    border: 3px solid white;
    font-weight: bold;
    font-size: 19px;
    background-color: var(--color01);
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin-top: 40px;
}
button:hover{
    transform: scale(1.03);
}
button:active{
    background-color: darkblue;
}
